<div style="font-family:arial; font-size:12px;">
    <p>
        The following Message was sent to you via the contact form.<br/>
        <br/>
        Contact name: {{firstName}} {{lastName}}
        <br/>
        Company: {{company}}
        <br/>
        Contact email address: {{email}}
        <br/>
        Phone: {{phone}}<br/>
        <br/>
        Subject: {{subject}}<br/>
        <br/>
        Message:<br/>
        {{comment}}<br/>
    </p>
</div>
