<div style="font-family:arial; font-size:12px;">
    <p>
        Folgende Nachricht wurde an Sie via Kontakt-Formular gesendet.<br/>
        <br/>
        Name: {{firstName}} {{lastName}}
        <br/>
        Firma: {{company}}
        <br/>
        Kontakt E-Mail: {{email}}<br/>
        <br>
        Telefonnummer: {{phone}}<br/>
        <br/>
        Betreff: {{subject}}<br/>
        <br/>
        Message:<br/>
        {{comment}}<br/>
    </p>
</div>
