<div style="font-family:arial, sans-serif; font-size:12px;">
    <h3>Bonjour {{ customerRecovery.customer.firstName }} {{ customerRecovery.customer.lastName }}<br/></h3>
    <p>
        <br/>
        Vous avez demandé un nouveau mot de passe pour votre compte {{ shopName }}. Cliquez sur le lien suivant pour réinitialiser votre mot de passe :<br/>
        <br/>
        {{ resetUrl }}
        <br/>
        <br/>
        Ce lien est valable pour les deux prochaines heures. Si vous ne souhaitez pas réinitialiser votre mot de passe, ignorez cet e-mail. Aucune modification ne sera alors effectuée.<br>
        <br>
        Avec nos meilleures salutations<br>
        Votre équipe {{ shopName }}
    </p>
</div>
