{% sw_extends '@Storefront/storefront/page/account/profile/recover-password.html.twig' %}

{% block page_account_profile_recover_password_action_back %}
    <a href="{{ seoUrl('frontend.account.login') }}"
       class="account-recover-password-back btn btn-secondary btn-sm"
       title="{{ 'general.back'|trans }}">
        {{ 'general.back'|trans }}
    </a>
{% endblock %}

{% block page_account_profile_recover_password_action_send %}
    <button type="submit"
            class="account-recover-password-submit btn btn-primary btn-sm"
            title="{{ 'account.profileRecoverPasswordSubmit'|trans }}">
        {{ 'account.profileRecoverPasswordSubmit'|trans }}
    </button>
{% endblock %}
